body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(224, 220, 214);
    color: #4f4744;
}

header {
    display: flex;
    font-family: 'Libre Baskerville', serif;
    justify-content: space-between;
    align-items: center;
    
}

h1, h2, h3, h4 {
    color: #4b5e42;
    font-family: 'Libre Baskerville', serif;
}

.logo img {
    max-width: 90px;
    margin: 15px; /* Add margin to create space around the logo */
}

main {
    padding: 0 10%;
}

h1 {
    text-align: center;  
    margin-top: 20px;
    letter-spacing: 3px;
    font-family: 'Josefin Sans', sans-serif;
    width: 100px;
    display:block; 
    margin: auto;
}

h1 a {
    text-decoration: none;
    color: #4b5e42;
}



nav { padding-right: 20px; }
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: #4f4744;
    font-weight:bolder;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #a38c81;
}

img {
    max-width: 90%;
    display:block; 
    margin: auto;
}

h3 {
    margin-left: 20px;
}

#active {
    color: #5c7451;
}
.banner {
    text-align: center;
}


.button {
    background-color: #5c7451;
    color: #fcf1e5;
    padding: 10px 15px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;

    width: 100px;
    display:block; 
    margin: auto;
    transition: background-color 0.3s ease-in-out;

    font-family: 'Libre Baskerville', serif;
}

.overview a:hover {
    background-color: #8aa6846a;
}

.buffer {
    height: 50px;
}

footer {
    background-color: #8aa6846a;
    color: #fcf1e5;
    text-align: center;
    padding: 20px 0;
    
}